
@*@{
    Layout = null;
}*@

<!DOCTYPE html>
@Html.AntiForgeryToken() 

<div class="col-xs-12">
    <div style="margin-left: 10px; margin-right: 10px; background: white; min-height: 300px">


    </div>
</div>
<script>
    function Companychange(e) {

    };
    function Branchchange(e) {

    };
    $(document).ready(function () {
        $("#DivCompanies").hide();
        $("#DivBranches").hide();
    })

    //ComboBox Events
    function DataBoundEvent() {

    }

    function SelectEvent(e) {

    }
</script>