@model int?
     
@(Html.Kendo().ComboBoxFor(m => m)
                        //.Name("CostCenterId_#=Id#")
                      .DataTextField("Name")
                             .DataValueField("Id")
                             
                                     .Template("<span class='k-state-default'  style='margin-right:10px'>#:data.Code#</span><span class='k-state-default'>#:data.Name#</span>")
                             .AutoBind(true)
                            .Placeholder("Type part of cod or name")
                            .HighlightFirst(true)

              //.MinLength(2)
              
                .Filter(FilterType.Contains)
                         .HtmlAttributes(new { style = "width:100%; max-width:600px;left:0;margin:0;text-align:left" })
                              
                          
                            .DataSource(source =>
                         { 
                             source.Read(read =>
                             {
                                 read.Action("FillCostCenters", "GenerlaClasses").Data("FilterCostCenters");

                             }).ServerFiltering(true); 
                             
                         })
                         .Events(e =>
                         {
                             e.Select("CostCentersGridSelect");
                             e.DataBound("CostCentersGridDataBound");
                             e.Change("CostCentersGridChange");
                           
                          
                         //  .Open("open")
                        //   .Close("close")
                       })

                          
                                    
                         
)
