@model int?
@(Html.Kendo().ComboBoxFor(m => m)

                         .DataTextField("Name")
                         .DataValueField("Id")
                         .Placeholder("Select Currency")
                         .Filter(FilterType.Contains)
                          .Template("<span class='k-state-default'  style='margin-right:10px'>#: data.Code #</span><span class='k-state-default'>#: data.Name #</span>")

                         .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Action("FillCountries", "GenerlaClasses");
                             });
                         })

                              .Events(e =>
                             {
                                 e.Select("CountryGridSelect");
                                 e.DataBound("CountryGridDataBound");
                                 e.Change("CountryGridChange");


                                 //  .Open("open")
                                 //   .Close("close")
                             })


)
