<?xml version ="1.0"?>
<configuration>
	<configSections>
		<section
				name="Telerik.Reporting"
				type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting"
				allowLocation="true"
				allowDefinition="Everywhere"/>

    <section
        name="Telerik.ReportDesigner"
        type="Telerik.ReportDesigner.Configuration.ReportDesignerConfigurationSection, Telerik.ReportDesigner.Configuration"
        allowLocation="true"
        allowDefinition="Everywhere"/>    
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
      <probing privatePath="path-to-the-assemblies"/>
      -->
      <dependentAssembly>
        <!-- Required for interoperability with older versions of Telerik Reporting -->
        <assemblyIdentity name="Telerik.Reporting" culture="neutral" publicKeyToken="a9d7983dfcc261be"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.14.804" newVersion="8.1.14.804"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString"
        connectionString="Data Source=(local)\MS2012;Initial Catalog=AdventureWorks;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <Telerik.ReportDesigner DefaultWorkingDir="Examples">
  </Telerik.ReportDesigner>

	<!-- Add assembly references -->
	<!--
	<Telerik.Reporting>
		<AssemblyReferences>
			<add name="MyFunctions" version="1.0.0.0" />
		</AssemblyReferences>
	</Telerik.Reporting>
	-->

	<!--  
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\Telerik.ReportDesigner.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	-->
</configuration>